body.pagina {
    display: flex;
    flex-direction: row;
    margin: 20px 60px;
}

#etiqYEnt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 15px 15px 15px 0;
}

#todasEtiquetasRelacion {
    padding-top: 0;
    float: left;
    width: 15%;
    text-align: center;
}

#todasEntradas {
    float: left;
    width: 90%;
}

.pagModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.pagContenidoModal {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.pagCerrarModal {
    color: #aaa;
    float: left;
    width: 5%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.pagCerrarModal:hover, .pagCerrarModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#pagFormularioPpal {
    padding-left: 30px;
}

.pagSpanModales:hover {
    cursor: pointer;
    color: black;
}

.contenidoModalInputEdicion {
    width: 90%;
    padding-left: 15px;
}

.cadaEtiqueta, .etiquetasModalInputEdicion, .cadaEtiquetaRelacion {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.cadaEtiquetaRelacion {
    width: fit-content;
}

.cadaEtiqueta:hover, .cadaEtiquetaRelacion:hover {
    cursor: pointer;
}

p#pagContenidoModalEtiq {
    display: flex;
}


li.cadaEtiquetaRelacion {
    list-style: none;
}

.pagContenidoModalCadaEntrada {
    border: 1px solid #ccc;
    padding: 2px;
    display: flex;
    margin: 5px 0;
}

.pagContenidoModalCadaEntrada:hover {
    cursor: pointer;
}

#entradasAsoc {
    float: left;
    width: 95%;
}

#pagBorrarEtiq:hover {
    cursor: pointer;
    font-weight: 600;
}

.pagContenidoModalEntrada {
    width: 95%;
    float: left;
}


#pagSpanEditarEnt:hover {
    cursor: pointer;
    font-weight: 600;
}

.cadaEtiquetaRelacion:hover {
    cursor: pointer;
    font-weight: 600;
}

#todasEtiquetasRelacion {
    display: flex;
    flex-direction: column;
    float: left;
    width: 90%;
    align-items: center;
}

#etiqTorcido {
    display: inline-block;
    transform: rotate(270deg);
    position: relative;
    top: 40px;
    left: -60px;
}

#entTorcido {
    display: inline-block;
    transform: rotate(270deg);
    position: relative;
    top: 40px;
    left: -20px;
}

.entrada {
    padding-left: 30px;
    width: 100%;
}

/* ↓ Las tres "columnas" del body */

#bodyIzq {
    display: flex;
    flex-direction: column;
    float: left;
    width: 75%; 
}

#bodyDcha {
    float: left;
    width: 15%;
}

.cabecera {
    width: 10%;
    position: absolute;
    right: 60px;
    text-align: right;
}

/* ↑ Las tres "columnas del body */

a#btnAnteriorEntrada, a#btnSiguienteEntrada {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#btnSiguienteEntrada {
    position: relative;
    top: 200px;
    left: 79%;
}

#btnAnteriorEntrada {
    position: relative;
    top: 200px;
    left: 15%;
}

p#fechaCreacion {
    text-align: right;
}
  
a#btnAnteriorEntrada:hover, a#btnSiguienteEntrada:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
  
a#btnAnteriorEntrada {
    background-color: #f1f1f1;
    color: black;
}
  
a#btnSiguienteEntrada {
    background-color: #04AA6D;
    color: white;
}

.pagFormulariosEdicion {
    float: left;
    width: 100%;
}

.etiquetasModalInputEdicion {
    float: left;
    width: 50%;
}

.etiquetasModalEdicion {
    display: flex;
    flex-direction: row;
    float: left;
    width: 90%;
}

.etiquetasModalEdicion div {
    margin-bottom: 8px;
}

.txtareaYBtns {
    float: left;
    width: 40%;
}

#etiquetitas {
    float: left;
    width: 60%;
}

#etiquetitas span {
    width: fit-content;
}

#etiquetitas input {
    width: 30%;
}